.login_wrapper {
  width: 33%;
  margin: 0 auto;

  .status_wrapper {
    margin-bottom: 25px;
  }
}

#login_wrapper {
  margin-top: 100px;
}

.login_form {
  .form_group:nth-child(2) {
    margin-top: 15px;
  }

  .login_action_btn {
    margin-top: 20px;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    outline: 0;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #c4c4c4;
    color: #1f2d3d;
    margin: 0;
    padding: 10px 15px;
    border-radius: 4px;
    margin-top: 20px;
  }

  .el-input {
    margin-top: 5px;
  }
}