.societies_wrapper {
	width: 100%;
	margin: 60px 20px 0 20px;

	.card {
		margin-top: 20px;

		h2 {
			cursor: pointer;
		}
	}

	.society_title {
		display: flex;
		justify-content: space-between;
		.delete_icon {
			padding-top: 28px;
    	cursor: pointer;
		}
	}
}
