.create_society_wrapper {
	width: 100%;
	margin-top: 60px;

	.create_society_field {
		width: 33%;
		margin: 0 auto;
		text-align: center;

		form {
			.form-group:nth-child(2) {
				margin-top: 10px;
			}

			.create_action_btn {
				margin-top: 20px;
				-webkit-font-smoothing: antialiased;
				-webkit-appearance: none;
				outline: 0;
				text-align: center;
				font-size: 14px;
				box-sizing: border-box;
				display: inline-block;
				line-height: 1;
				white-space: nowrap;
				cursor: pointer;
				border: 1px solid #c4c4c4;
				margin: 0;
				padding: 10px 15px;
				border-radius: 4px;
				margin-top: 20px;
				width: 100%;
				background: #5101D1;
				color: #fff;
			}
		}
	}

}